---
---

@import "{{ site.theme }}";

#header_wrap {
  // background: #F6F6F6;
  background: #FCE8ED;  // pink
}

#project_title {
  color: black;
  text-shadow: none;
}

#project_tagline {
  color: black;
  text-shadow: none;
}
