---
---

@import "{{ site.theme }}";

// Fix issue #17, which causes the text to jitter when hovering over a link:
// https://github.com/pages-themes/slate/issues/17
a:hover, a:focus {
  font-weight:normal;
}

#project_image {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

#header_wrap {
  // background: #F6F6F6;
  background: #FCE8ED;  // pink
}

#header_wrap .inner {
    padding-bottom: 10px;
}

#project_title {
  color: black;
  text-shadow: none;
}

#project_tagline {
  color: black;
  text-shadow: none;
}

#main_content {
  padding-top: 10px;
}

#main_content_wrap {
  background: white;
  border: 0;
}
